<div class="flex flex-col items-start justify-center min-h-[300px] bg-white rounded-xl shadow-md p-7">
    <h2 class="text-xl font-bold text-gray-700 font-sora mb-1 text-left">Jadwal Program</h2>
    <p class="text-gray-500 mb-8 text-left">Informasi tentang jadwal untuk setiap tahapan pembelajaran.</p>
  
    <div class="flex flex-col items-center w-full">
      <img src="assets/image/icons/HistoryNull.svg" alt="No Transactions Icon" class="w-[200px] h-[200px] my-7 mt-32" />
      <p class="text-gray-400 text-lg">Akses jadwal akan tersedia setelah transaksi berhasil dilakukan.</p>
    </div>
  </div>
  