<!-- profile.component.html -->
<div
  class="min-h-screen bg-cover bg-no-repeat"
  style="background-image: url('assets/image/bg-registrant.png')"
>
  <app-navbar-users />

  <div class="flex flex-col mx-20">
    <!-- Breadcrumbs -->
    <div class="flex items-center text-sm text-gray-600 mt-32">
      <a routerLink="/home-user" class="text-slate-400 cursor-pointer">Beranda</a>
      <span class="mx-1">/</span>
      <a routerLink="/profile" class="font-medium cursor-pointer">Profile</a>
    </div>

    <div class="flex">
      <app-mini-navigation />
      <div class="flex-1 p-4">
        <!-- Add Table Profile Component Here -->
        <app-table-profile></app-table-profile>
      </div>
    </div>
  </div>
</div>

