<div class="container mx-auto w-full px-4 md:px-11" id="tantangan">
  <h1 class="text-[24px] md:text-[32px] font-bold mb-4 md:mb-6 font-sora">Tantangan dan Peluang di <span class="text-red-500">Jepang!</span></h1>

  <div class="flex flex-col md:flex-row gap-4 md:gap-8">
    <div class="w-full md:w-1/2">
      <img src="assets/image/person.png" alt="Collaboration in Japan" class="w-full md:w-[408.73px] h-auto md:h-[380px] rounded-lg shadow-md mb-4 md:mb-6">
    </div>

    <div class="w-full flex flex-col gap-6 md:gap-9 my-4 md:my-9">
      <!-- Tantangan -->
      <div class="relative pl-3 md:pl-4 border-l-4 border-red-500">
        <h2 class="text-lg md:text-xl font-semibold font-sora pb-2 md:pb-3"><span class="text-[#D31121]">Tantangan </span>untuk Tenaga Kerja</h2>
        <p class="text-secondary font-dmsans">
          Jepang sedang menghadapi krisis kekurangan tenaga kerja dalam berbagai sektor, termasuk
          <span class="font-bold">Manufacture, IT, Farming</span>.
          Banyak posisi tidak dapat diisi karena <span class="text-red-500 font-semibold">kurangnya keterampilan bahasa Jepang</span> di kalangan pekerja asing.
        </p>
      </div>

      <!-- Peluang -->
      <div class="relative pl-3 md:pl-4 border-l-4 border-blue-500">
        <h2 class="text-lg md:text-xl font-semibold font-sora mb-2"><span class="text-primary">Peluang </span>Besar di Jepang</h2>
        <ul class="space-y-3 md:space-y-4">
          <li class="flex items-start">
            <span class="flex-shrink-0 w-5 md:w-6 h-5 md:h-6 rounded-full flex items-center justify-center text-white mr-2">
              <img src="assets/image/icons/check.svg" alt="Check Icon" class="w-full h-full">
            </span>
            <span class="font-dmsans text-secondary">
              <span class="font-bold text-black">Gaji kompetitif</span> dengan kompensasi luar biasa di berbagai sektor industri Jepang.
            </span>
          </li>

          <li class="flex items-start">
            <span class="flex-shrink-0 w-5 md:w-6 h-5 md:h-6 rounded-full flex items-center justify-center text-white mr-2">
              <img src="assets/image/icons/check.svg" alt="Check Icon" class="w-full h-full">
            </span>
            <span class="font-dmsans text-secondary">
              <span class="font-bold text-black">Pengalaman internasional</span> yang berharga di lingkungan global yang dinamis di Jepang.
            </span>
          </li>

          <li class="flex items-start">
            <span class="flex-shrink-0 w-5 md:w-6 h-5 md:h-6 rounded-full flex items-center justify-center text-white mr-2">
              <img src="assets/image/icons/check.svg" alt="Check Icon" class="w-full h-full">
            </span>
            <span class="font-dmsans text-secondary">
              Peluang <span class="font-bold text-black">pengembangan karir</span> dan meraih posisi lebih tinggi di perusahaan Jepang.
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Section Tambahan: Posisi Lowongan dan Tombol -->
  <div class="relative flex flex-col md:flex-row justify-between items-start md:items-center my-6 md:my-10 p-6 md:p-9 border border-badge rounded-lg">
    <!-- Pattern Shape -->
    <div class="absolute inset-0 hidden overflow-hidden md:block">
      <img src="assets/image/pattern/Rectangle.png" class="absolute bottom-6 h-[105px] w-[605px] left-[585px]" alt="Pattern 1">
      <img src="assets/image/pattern/Rectangle2.png" class="absolute bottom-6 right-[603px] w-[589px] h-[105px]" alt="Pattern 2">
      <img src="assets/image/pattern/Rectangle3.png" class="absolute top-[103px] w-[600px] left-0" alt="Pattern 3">
      <img src="assets/image/pattern/Rectangle4.png" class="absolute top-[104px] w-[590px] h-[25px] left-[600px]" alt="Pattern 4">
    </div>

    <p class="text-base md:text-lg font-sora text-black font-semibold text-[24px] md:text-[20px] relative z-10 mb-4 md:mb-0 text-left md:text-center">
      Posisi lowongan di lebih dari 300 <br> perusahaan yang terhubung dengan kami di <span class="text-primary">Jepang!</span>
    </p>
    <a href="#pricing" class="relative z-10 flex items-center px-8 py-3 bg-blue-500 text-white font-semibold rounded-xl shadow-md hover:bg-blue-600 transition duration-300 ease-in-out text-[18px] group">
      Daftar Sekarang
      <img src="assets/image/icons/arrow-right.svg" alt="arrow right" class="ml-2 mt-1 h-6 w-6 transform transition-transform duration-300 ease-in-out group-hover:translate-x-2">
    </a>
  </div>
</div>
