<div class="grid grid-cols-[auto_1fr] h-screen bg-[#f1f5fc]">
    <app-sidebar (sidebarToggle)="onSidebarToggle($event)"></app-sidebar>
  
    <div
      [ngClass]="isMinimized ? 'ml-[100px]' : 'ml-[300px]'"
      class="transition-all duration-300 ease-in-out bg-[#f1f5fc]"
    >
      <app-header-admin></app-header-admin>
  
      <div class="p-6">
        <h1 class="text-[24px] text-brith font-semibold font-sora my-2">
            Tambah Testimoni
        </h1>
        <p class="text-[16px] text-brith font-inter">
            <span class="text-[#959EA9]">Pengaturan Testimoni</span> / <span>Tambah Testimoni</span>
        </p>
        <!-- Component addcmstestimoni  -->
        <app-add-testimonicms></app-add-testimonicms>
      </div>
    </div>
</div>
