<div class="min-h-screen flex flex-col justify-between">
    <div class="flex rounded-lg w-full max-w-8xl mx-auto my-auto">
      <div class="hidden md:flex w-1/2 h-full rounded-l-lg overflow-hidden">
        <img
          src="assets/image/auth/leftheader.png"
          alt="Karir Jepang"
          class="w-full h-full object-cover"
        />
      </div>
  
      <div class="w-full md:w-1/2 p-8 mt-6 flex items-center justify-center">
        <div class="w-full max-w-md">
          <h2 class="text-[30px] font-bold mb-2 text-center font-sora">Daftar Sekarang!</h2>
          <p class="text-secondary text-[16px] font-inter text-center mb-6">
            Silakan masukkan data diri Anda dengan benar untuk memulai pendaftaran akun baru.
          </p>
          <div class="border p-8 rounded-xl mt-11 max-h-[900px]">
            <h2 class="text-[24px] font-semibold mb-2 font-sora text-brandcolor text-center">REGISTRASI BERHASIL!</h2>
          <p class="text-secondary text-center text-[14px] font-inter mb-6">
            Silakan cek email Anda untuk aktivasi akun. Tautan verifikasi telah dikirim ke email Anda.
          </p>
          <button
          (click)="goToHome()"
          class="w-full py-3 my-3 px-4 bg-brandcolor text-white rounded-lg hover:bg-brandcolor/50 transition-colors cursor-pointer"
        >
          OK
        </button>
    </div>
          <footer class="text-center text-[#959EA9] text-[16px] font-inter mt-40">
            © 2024 PIS Japan Career. All Rights Reserved.
            <br />
            <a href="#" class="hover:underline">Privacy Policy</a> |
            <a href="#" class="hover:underline">Terms of Use</a>
          </footer>
        </div>
      </div>
    </div>
  </div>
  