<div
  class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50"
  *ngIf="isVisible"
>
  <div class="bg-white rounded-lg shadow-lg w-full max-w-md p-6 relative">
    <!-- Header -->
    <div class="flex justify-between items-center pb-3">
      <h2 class="text-[24px] font-semibold text-brith font-sora">Edit paket</h2>
      <button
        class="text-secondary border rounded-lg bg-supersoft p-2 w-[30px] h-[35px] hover:text-gray-700"
        (click)="closeModal()"
      >
        <img src="assets/image/icons/ex.svg" alt="icon close" />
      </button>
    </div>

    <!-- Pesan sukses -->
    <div *ngIf="updateSuccess" class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-4">
      <p>Paket berhasil diperbarui!</p>
    </div>

    <!-- Pesan error -->
    <div *ngIf="errorMessage" class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4">
      <p>{{ errorMessage }}</p>
    </div>

    <!-- Form -->
    <form (submit)="onSubmit($event)" class="mt-4">
      <div class="mb-4">
        <label for="name" class="block text-sm font-medium text-brith my-2">
          Nama <span class="text-red-500 mx-1">*</span>
        </label>
        <input
          id="name"
          type="text"
          [(ngModel)]="paket.name"
          name="name"
          class="w-full border rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Masukan nama paket"
          required
        />
      </div>
      <div class="mb-4">
        <label for="period" class="block text-sm font-medium text-brith my-2">
          Deskripsi Paket : <span class="text-red-500 mx-1">*</span>
        </label>
        <input
          id="period"
          type="text"
          [(ngModel)]="paket.description"
          name="period"
          class="w-full border rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Masukan keterangan Deskripsi Paket"
          required
        />
      </div>
      <div class="flex justify-end gap-4">
        <button
          type="button"
          class="px-6 py-2 mt-4 text-gray-700 border rounded-lg border-[#BDBDBD] hover:bg-gray-300 font-medium"
          (click)="closeModal()"
        >
          Batal
        </button>
        <button
          type="submit"
          class="px-6 py-3 mt-4 bg-blue-500 text-white rounded-lg hover:bg-blue-600 font-medium"
          [disabled]="isSubmitting"
        >
          Simpan
        </button>
      </div>
    </form>
  </div>
</div>
