<div class="flex flex-col items-center justify-center text-center py-8 md:py-12">
  <!-- Powered By Text -->
  <h4 class="text-secondary font-inter text-[18px] mb-7 md:font-medium">Powered By</h4>

  <!-- Logos Row, responsive layout adjustment -->
  <div class="flex flex-col flex-wrap justify-center md:flex-row md:space-x-14 space-y-6 md:space-y-0 mb-7 items-center">
    <img src="assets/image/logo/pisbrands.png" alt="PIS Logo" class="h-20" />
    <img src="assets/image/logo/oneterrace.png" alt="One Terrace Logo" class="h-[100px] w-[350px]" />
    <img src="assets/image/logo/KEK.png" alt="KEK Logo" class="w-[261.82px] h-[120px]" />
  </div>
</div>
