<div class="flex justify-between items-center p-6">
  <div class="flex items-center gap-3">
    <label for="itemsPerPage" class="text-brith text-[16px]">Item per Halaman</label>
    <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (ngModelChange)="onItemsPerPageChange()" class="border-b rounded p-1">
      <option *ngFor="let option of perPageOptions" [value]="option">{{ option }}</option>
    </select>
    <span>of {{ totalItems }}</span>
  </div>
  <div class="flex items-center space-x-2">
    <button (click)="prevPage()" [disabled]="currentPage === 1" class="px-2 py-1">
      <img src="assets/image/cms/icons/arrow-left.svg" alt="Prev" class="w-3 h-3 inline-block mx-2 cursor-pointer"> 
      <span class="text-[16px] text-brith">Kembali</span
        >
      </button>

    <div class="flex items-center space-x-1">
      <ng-container *ngFor="let page of visiblePages">
        <button *ngIf="page !== '...'" (click)="goToPage(+page)" 
                [class.bg-blue-500]="currentPage === page"
                [class.text-white]="currentPage === page"
                class="px-2 py-1 rounded-lg min-w-[35px] min-h-[35px]">
          {{ page }}
        </button>
        <span *ngIf="page === '...'" class="px-2">{{ page }}</span>
      </ng-container>
    </div>

    <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="px-2 py-1">
      <span class="text-[16px] text-brith">Lanjut</span> 
      <img src="assets/image/cms/icons/arrow-right.svg" alt="Next" class="w-3 h-3 inline-block mx-2 cursor-pointer">
    </button>
  </div>
</div>

